! Xft.dpi:                    96
! Xft.antialias:              1
! Xft.rgba:                   rgb
! Xft.hinting:                true
! Xft.hintstyle:              hintsfull
! Xft.lcdfilter:              lcddefault

Xft.dpi:                    96
Xft.antialias:              1
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #000, #000, #000
rofi.color-normal: #111, #819396, #222, #008ed4, #ffffff
rofi.color-active: #002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661

rofi.fake-transparency: true
rofi.lines: 13
rofi.bw: 0
rofi.opacity: "10"
rofi.hide-scrollbar: true
rofi.width: 30

!-------------------------------------------------------------------------------
! URxvt settings
!
URxvt*termName:rxvt-unicode-256color

URxvt.depth:                32
URxvt.geometry:             90x30

! URxvt.transparent:          true
! URxvt.shading:              50

URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            5000
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! FONTS
URxvt.allow_bold:           false
URxvt*font:           xft:mononoki Nerd Font:regular:size=9:antialias=true:hinting=true
URxvt*boldFont:       xft:mononoki Nerd Font:bold:size=9:antialias=true:hinting=true
URxvt*italicFont:     xft:mononoki Nerd Font:italic:size=9:antialias=true:hinting=true
URxvt*boldItalicFont: xft:mononoki Nerd Font:bold:italic:size=9:antialias=true:hinting=true
! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            true
URxvt*scrollTtyOutput:      false

! Cursor
URxvt.cursorBlink:          true

! Pointer
URxvt.pointerBlank:         true

! _____________________________________________________________________________
! URxvt.perl-ext: default,url-select
URxvt.perl-ext-common: default,autocomplete-ALL-the-things,resize-font,url-select

! URL select
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next

URxvt.keysym.M-C-slash:   perl:aAtt:word-complete
URxvt.keysym.M-question:  perl:aAtt:fuzzy-complete
URxvt.keysym.M-quotedbl:  perl:aAtt:undo


URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! Perl extensions
URxvt.matcher.button:       1
URxvt.urlLauncher:          i3-sensible-browser
! _____________________________________________________________________________


! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------
! Cursor
URxvt.cursorColor:          #ff2734
URxvt.cursorUnderline:      false

! *background: [65]#012723
! 122623
! *background: [65]#0e2421
! *background: [75]#182927
!
! 1c3b36
!233b37 --good
URxvt*background: [60]#1C3B36
! URxvt*background: [70]#1C3232
*foreground: #839496

! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

URxvt.colorUL: #0168bb
URXVT.colorIT: #87af5f
URXVT.colorBD: #d7d7d7
URXVT.colorUL: #87afd7

!scrollbar
!
! enable scrollbar
URxvt*scrollBar:          true
! scrollbar width
URxvt*thickness:          8
! scrollbar color
URxvt*scrollColor:        #004050
! scrollbar trough area color
! URxvt*troughColor:        #333333
! scrollbar without a trough
!URxvt*scrollBar_floating: false
! scrollbar to the right
URxvt*scrollBar_right:    true
! scrollbar style
URxvt*scrollstyle:        plain

